<div id="<%= dom_id inventory %>">
  <p>
    <strong>Hotel:</strong>
    <%= inventory.hotel_id %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= inventory.room_type_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= inventory.date %>
  </p>

  <p>
    <strong>Total inventory:</strong>
    <%= inventory.total_inventory %>
  </p>

  <p>
    <strong>Total reserved:</strong>
    <%= inventory.total_reserved %>
  </p>

</div>
