<div id="<%= dom_id guest %>">
  <p>
    <strong>Guest name:</strong>
    <%= guest.guest_name %>
  </p>

  <p>
    <strong>Guest phone number:</strong>
    <%= guest.guest_phone_number %>
  </p>

  <p>
    <strong>Guest email:</strong>
    <%= guest.guest_email %>
  </p>

  <p>
    <strong>Guest address:</strong>
    <%= guest.guest_address %>
  </p>

</div>
