<p style="color: green"><%= notice %></p>

<%= render @guest %>

<div>
  <%= link_to "Edit this guest", edit_guest_path(@guest) %> |
  <%= link_to "Back to guests", guests_path %>

  <%= button_to "Destroy this guest", @guest, method: :delete %>
</div>
