<tr>
  <td> <%= room.room_type %></td>
  <td> <%= room.room_name %></td>
  <td> <%= room.rom_number %></td>
  <td> <%= room.bathroom_count %></td>
  <td> <%= room.bed_count %></td>
  <td> <%= room.room_price %></td>
  <td> 
  <%= link_to "Edit", edit_hotel_room_path(@hotel, room) %> 
  <%= button_to "Destroy", hotel_room_path(@hotel, room), method: :delete %>
  </td>
</tr>
