<%= form_with(model: hotel) do |form| %>
  <% if hotel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :hotel_name, style: "display: block" %>
    <%= form.text_field :hotel_name %>
  </div>

   <div>
    <%= form.label :hotel_email, style: "display: block" %>
    <%= form.text_field :hotel_email %>
  </div>

  <div>
    <%= form.label :hotel_address, style: "display: block" %>
    <%= form.text_field :hotel_address %>
  </div>

  <div>
    <%= form.label :hotel_contact, style: "display: block" %>
    <%= form.text_field :hotel_contact %>
  </div>

  <div>
    <%= form.label :hotel_description, style: "display: block" %>
    <%= form.text_area :hotel_description %>
  </div>

  <div>
    <%= form.label :owner, style: "display: block" %>
    <%= form.select :user_id, @user_clients %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
