<tr>
  <td> <%= hotel.hotel_name %></td>
  <td> <%= hotel.hotel_address %></td>
  <td> <%= hotel.hotel_contact %></td>
  <td> <%= hotel.user.username %></td>
  <td> 
  <%= link_to "Edit", edit_hotel_path(hotel) %> 
  <%= link_to "Add rom", new_hotel_room_path(hotel) %>
  <%= button_to "Destroy", hotels_path(hotel), method: :delete %>
  
  </td>
</tr>
