<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reservation_id, style: "display: block" %>
    <%= form.number_field :reservation_id %>
  </div>

  <div>
    <%= form.label :payment_method, style: "display: block" %>
    <%= form.number_field :payment_method %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :payment_at, style: "display: block" %>
    <%= form.datetime_field :payment_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
