<div id="<%= dom_id payment %>">
  <p>
    <strong>Reservation:</strong>
    <%= payment.reservation_id %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment at:</strong>
    <%= payment.payment_at %>
  </p>

</div>
