<div id="<%= dom_id reservation %>">
  <p>
    <strong>Hotel:</strong>
    <%= reservation.hotel.name %>
  </p>

  <p>
    <strong>Rom type:</strong>
    <%= reservation.room_type.name %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= reservation.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= reservation.check_out_date %>
  </p>

  <p>
    <strong>Number room: </strong>
    <%= reservation.number_room %>
  </p>

  <p>
    <strong> Total price: </strong>
    <%= reservation.number_room * reservation.room_type.price %>
  </p>
</div>
