<div id="<%= dom_id reservation %>">
  <p>
    <strong>Rom:</strong>
    <%= reservation.rom_id %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= reservation.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= reservation.check_out_date %>
  </p>

  <p>
    <strong>Guest name:</strong>
    <%= reservation.guest_name %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= reservation.guest_id %>
  </p>

</div>
