<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_url %>">Hotel booking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_admin %>
          </li class="nav-item">  <%= link_to "Manage Users", users_path, class: "nav-link"  %> <li>
          </li class="nav-item">  <%= link_to "Manage Hotels", hotels_path, class: "nav-link"  %> <li>
          </li class="nav-item">  <%= link_to "Reservation", reservations_path, class: "nav-link"  %> <li>
          </li class="nav-item">  <%= link_to "Cancellation", cancellations_path, class: "nav-link"  %> <li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <%= render 'shared/session_user', current_login: current_user || current_admin %>
      </ul>
    </div>
  </div>
</nav>
