<!DOCTYPE html>
<html>
  <head>
    <title>BookingHotel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> <%#  this loads JS from importmaps %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar'%>
    </header>
    <div id="main-container" class="container">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>
  </body>

</html>
